.sidebarfilter {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #ffffff; /* Clean white background */
  padding: 60px 20px 20px; /* Add top padding to move all content down */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Softer shadow */
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 1000;
  transition: background-color 0.3s ease; /* Transition for background color */
}


.sidebarfilter-btn {
  background-color: #90e1e7; /* Bootstrap primary blue */
  color: white; /* White text for contrast */
  padding: 10px; /* Reduced padding */
  font-size: 16px; /* Slightly smaller font size */
  font-weight: bold; /* Bold text */
  text-align: center; /* Centered text */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 20px; /* Increased space below the button */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Softer shadow */
  transition: background-color 0.3s, transform 0.2s; /* Transition effects */
}

.sidebarfilter-btn:hover {
  background-color: #90e1e7; /* Darker blue on hover */
  transform: translateY(-2px); /* Lift effect */
}

.sidebarfilter-content {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of boxes */
  gap: 10px; /* Space between items */
  padding: 10px;
}

.sidebarfilter-item {
  background-color: #f0f0f0; /* Light grey background */
  padding: 5px 10px; /* Reduce padding */
  border-radius: 5px; /* Rounded corners */
  text-align: center;
  cursor: pointer;
  color: #333;
  border: 1px solid transparent;
  transition: background-color 0.3s, transform 0.2s;
  width: fit-content; /* Two boxes per row with gap */
  box-sizing: border-box;
}
.sidebarfilter-item:hover {
  background-color: #e0e0e0; /* Darker grey on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
  border-color: #bbb; /* Add border color on hover */
}

select {
  box-shadow: 10px 14px 8px 10px rgba(0, 0, 0, 0.1); 
}

.sidebarfilter-spacer {
  width: 20px; /* Adjust the width as needed */
  height: 100%;
}

.clear-filters{
  background-color: #90e1e7; /* Bootstrap primary blue */
  color: white; /* White text for contrast */
  padding: 10px; /* Reduced padding */
  font-size: 16px; /* Slightly smaller font size */
  font-weight: bold; /* Bold text */
  text-align: center; /* Centered text */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 20px; /* Increased space below the button */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Softer shadow */
  transition: background-color 0.3s, transform 0.2s;
  background-color: red;
  border:none;
  outline:none;
}

.clear-filters:hover {
  background-color: red; /* Darker blue on hover */
  transform: translateY(-2px); /* Lift effect */
}