.home{
    background: url(../images/home_bg.png) no-repeat;
    background-size: 100% 100%;
    height:98vh;
    margin:0;
    padding:0;
    padding-top:30px;
    position:relative;
}
.home .text-home-page{
    position:absolute;
    top:230px;
    left:100px;
    width:400px;
}
.home .catchy-text{
    font-size:70px;
    font-weight:700;
    margin:0;
    margin-bottom:20px;
    padding:0;
}
.home .subcaption{
    font-family:"Bold";
    font-size:30px;
    font-weight:500;
    margin:0;
    margin-bottom:20px;
    padding:0;
}
.home .home-page-button-container{
    display:flex;
    gap:30px;
}
.home .signup,.signin{
    background-color:#e7c873;
    padding:20px 60px;
    font-size:18px;
    border:none;
    outline:none;
    border-radius:30px;
    &:hover{
        cursor:pointer;
    }
}
.home-services{
    margin:40px 50px;
}
.home-grid-arrangement{
    display:grid;
    grid-template-columns:640px 400px 240px;
    grid-column-gap:20px;
}
.home-vertical-arrangement{
    height:586px;
    display:flex;
    flex-direction: column;
    gap:20px;
}
.servicesimglarge{
    height:586px;
}
.servicesimg{
    height:282px;
    width:400px;
}
.home-services-text{
    background-color: #8FD9DE;
    border-radius:8px;
    width:240px;
    padding:40px;
}
.home-services-text p{
    margin:8px;
    padding:0;
}
.home-why{
    height:580px;
    display:flex;
    margin:0px 50px;
    gap:20px;
}
.home-why-vertical{
    display:flex;
    flex-direction:column;
    gap: 20px;
}
.why1{
    height: 315px;
    width:320px;
    border-radius: 10px;
}
.why2{
    height:538px;
    width:445px;
    border-radius: 10px;
}
.my-properties{
    background-color: #62C9D0B3;
    height: 180px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding:12px 20px;
}
.my-properties p{
    margin:0;
    padding:0;
}
.learn-more-button{
    background-color: black;
    border:0;
    outline:0;
    color: white;
    display: flex;
    font-size:16px;
    align-items: center;
    align-self: center;
    padding:10px 20px;
    border-radius: 10px;
    &:hover{
        cursor:pointer;
    }
}
.arrow-circle-right-button{
    &:hover{
        cursor:pointer;
    }
}
.why-text{
    height:538px;
    padding:30px;
    padding-top:100px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:15px;
}
.why-text p{
    margin:0px;
    padding:0px;
}
.home-why-list{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
}
.home-featured-properties,.home-testimonials{
    display:flex;
    flex-direction: column;
    margin:0px 50px 20px 50px;
    gap:20px;
}
.home-fp-title,.home-testimonial-title{
    display:flex;
    justify-content: space-between;
}
.home-fp-title,.home-testimonial-title h2{
    font-size:30px;
}
.home-fp-button,.home-testimonial-button{
    background-color: black;
    border:0;
    outline:0;
    color: white;
    display: flex;
    font-size:16px;
    align-items: center;
    align-self: center;
    padding:20px;
    border-radius: 10px;
    &:hover{
        cursor:pointer;
    }
}
.featured-properties,.testimonials{
    display:flex;
    gap:20px;
}