.navbar{
    height:30px;
    background-color:white;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:20px 30px;
    margin:0 20px;
    border-radius:20px;
}
.navbar-logo{
    height:70px;
    width:200px;
}
.navbar-options{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}
.navbar-options p{
    margin:0;
    padding:0;
    text-decoration: none;
    color:black;
    font-size:18px;
    &:hover{
        text-decoration: underline;
        cursor:pointer;
    }
}